#enter {
  position:absolute;
  z-index:2000;
  display:flex;
  width: 80vw;
  height: 80vh;
  left: 10vw;
  top: 10vh;
  justify-content: center;
  align-items: center;
}

#enterBack {
  position:absolute;
  background-color: black;
  width: inherit;
  height: inherit;
  z-index: 2000;
  opacity: 0.9;
  
}

.enterContent {
  position:relative;
  z-index: 3000;
  
}

#enterButton {
  
}

#firstUsername {
  
}

p {
  color: white;
  letter-spacing: 3px;
  line-height: 20px;
  z-index: 4000;
  
}

h1 {
  color: white;
  letter-spacing: 5px;
}

#myButton {
  position: relative;
  opacity: 0.5;
  top: 7px;
  left: 7px;
  padding: 5px;
}

#title {
  position: relative;
  font-size: 50px;
  font-family: 'Orbitron';
  background: -webkit-linear-gradient(#03f4fc, #f803fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#subtitle {
  position: relative;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  background: -webkit-linear-gradient(#03f4fc, #f803fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#chatDiv {
  position: relative;
  top: 88vh;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

#chatBox {
  opacity: 0.5;
}

#firstUsername {
  opacity: 0.5;
  background: -webkit-linear-gradient(#03f4fc, #f803fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 25px;
  border-style: solid;
  border-color: #e0e0e0;
  width: 200px;
  padding: 3px;

}

#enterName::after {
  content: "Username should be at least 3 characters long";
  color: #03f4fc;
  position: absolute;
  font-family: 'Poiret One';
  font-size: 10px;
  left: 17.7vw;
  top: 55vh;
  display: none;
  
}

#firstUsername:focus #enterName::after{
  display: block;
  background: red;
}


#enterButton {
  opacity: 0.5;
  background: webkit-linear-gradient(#03f4fc, #f803fc);
  border-radius: 25px;
  border-style: solid;
  border-color: #e0e0e0;
  width: 80px;
  padding: 3px;

}

.input {
  opacity: 0.5;
  background: transparent;
  border-radius: 25px solid;
  border-style: solid;
  border-color: transparent transparent #e0e0e0;
  width: 200px;
  padding: 3px;
  color: white;

}


.button {
  opacity: 0.5;
  color: white;
  background: transparent;
  border-radius: 25px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 5px;

}

.button:hover {
  background: white;
  color: black;
}